<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
  <form action="" method="get">
  <input type="text" name="q" value="{{ q }}">
  <input type="submit" value="search">
  </form>

    {% if docs_list %}
        <ol>
            {% for doc in docs_list %}
            <li><a href="{% url 'DocList:docs' doc.0 %}">{{ doc.1 }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No Docs are available.</p>
    {% endif %}
    {% if previous > 0 %}
        <a href="{% url 'DocList:index' previous %}">Back</a>
    {% endif %}
    <a href="{% url 'DocList:index' next %}">Next</a>
</body>
</html>